* {
  margin: 0;
  padding: 0;
  color: #696969;
}

.site-header {
  padding: 36px 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.inline-block {
  display: inline-block;
}

.site-title-container {
  display: inline-block;
}

.site-title {
  font-size: 1.75em;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
}

.site-nav-container {
  display: flex;
  justify-content: space-between;
  width: 250px
}

.site-nav-link {
  display: inline-block;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-thumbnail-container {
  display: inline-block;
}

.footer-container {
  padding-bottom: 45px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.social-link-container {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
